/* Topic Videos Section */
#topic-videos {
    margin-bottom: 1.25rem;
}

.video-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-cards .card {
    width: 18.75rem;
}

/* eBooks Section */
#ebooks {
    margin-bottom: 1.25rem;
}

.ebook-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ebook-cards .card {
    width: 18.75rem;
}

/* About Us Section */
#about-us {
    padding: 1.25rem;
    background-color: #fff;
    border-radius: 0.625rem;
}

.team-member, .teacher-helper {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.team-member img, .teacher-helper img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    margin-right: 0.9375rem;
}

.team-member h3, .teacher-helper h3 {
    margin: 0;
}

.team-member p, .teacher-helper p {
    margin: 0;
}
